<body>
    {{> side}}
    <h1>FileManager</h1>
    <a style="color: red; text-decoration: none; font-size:20px" href="clearAllItems">Usuń wszystkie dane z tablicy</a>
    <table style="width: 1800px;">
        <tr class="insideContent">
            <th>Id</th>
            <th>-</th>
            <th style="width: 300px;">Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            </tr>
        {{#each items}}
        {{>list}}
        {{/each}}
    </table>
</body>