body{
    margin: 0px;
    padding: 0px;
}
body > *{
    padding-left: 10px;
}
.subject{
    color:white;
    font-size: 20px;
    background-color:teal;
    padding:20px
}
.subject > a {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    font-style: none;
    color: white;
    text-decoration: none;
}
.subject > a:hover {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    font-style: none;
    color: rgb(228, 154, 250);
    text-decoration: none;
}
.content{
    color:blue;
    font-weight: 300;
    font-size: 20px;
}
.footer{
    color:blue;
    font-size: 20px;
    background-color:red;
    padding:20px
}
.insideContent{
    background-color:lightcoral;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    word-spacing: 5px;
    color: white;
}
.insideContent > th, .insideContent > label, .insideContent > a{
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-style: none;
}
.insideContent > a:hover,label:hover{
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-style: none;
}
.infoBox{
    display: flex;
    flex-direction: row;
    background-color: wheat;
    padding-left: 10px;
    height: 40px;
}
.infoBox>h1{
    color: black;
    font-size: 30px;
    margin: 0px;
}
.infoBox>a{
    color: black;
    padding-left: 10px;
    font-size: 30px;
}

